.Faq {
    padding: 45px 0;
    .section-heading {
        font-size: 52px;
        font-weight: 900;
        color: $purple;
        text-align: center;
        @media(max-width: 768px) {
            font-size: 32px;
        }
        @media(max-width: 479px) {
            font-size: 32px * 0.75;
        }
    }
    .section-subtitle {
        width: 45%;
        margin: 0 auto;
        font-family: $rounded;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.25;
        color: $grey;
        text-align: center;
    }
    .faq-list {
        display: flex;
        flex-wrap: wrap;
        .faq-item {
            width: 30%;
            margin-left: 1.5%;
            margin-right: 1.5%;
            .wrap {
                .badge {
                    margin-right: 30px;
                }
                .heading {
                    display: flex;
                }
                .descr {
                    display: flex;
                }
            }
        }
    }
}